@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.contact_box {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#contactForm {
    width: 50%;
}

.contact_title {
    color: #fff;
    font-size: 25px;
}

.contact_items {
    display: flex;
    flex-direction: column;
}

.contact_items textarea {
    height: 200px;
}

.contact_items textarea, .contact_items input {
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #0056b3;
    border: 0;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 20px;
}

.contact_items textarea:focus, .contact_items input:focus {
    box-shadow: 0 0 2px 4px #0056b3;
}

.contact_btn {
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
}