@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background: #0a0f25;
    font-family: 'Baloo Paaji 2', cursive;
}
canvas {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
}

/* Navbar */
.box {
    width: 70%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #cce5ff;
    position: sticky;
    left: 0;
    right: 0;
}

.navbar_ {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 5px;
    width: 70%;
    user-select: none;
}

.nav_box {
    display: flex;
}

.ul_items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.ul_item {
    padding: 0 10px;
}

.ul_item a {
    color: #0056b3;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 600;
}

.ul_item a:hover {
    color: #003f7f;
}

.ul_item a:active {
    color: #003f7f;
}
/* Main Section */
.main_title {
    color: #cce5ff;
    font-size: 6rem;
    font-family: 'Baloo Paaji 2', cursive;
    line-height: 100px;
    padding-right: 200px;
}

.main_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 690px;
}

.main_section {
    margin-top: 50px;
}
.main_row {
    display: flex;
    justify-content: space-between;
}

.main_col-1 {
    width: 40%;
    margin-right: 20px;
}

.main_col-2 {
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0 20px;
    color: #cce5ff;
}

.main_col-2 p {
    font-size: 20px;
}

.main_photo {
    border-radius: 50%;
    border: 2px solid #cce5ff;
    width: 100%;
}

.main_about {
    font-size: 25px;
}

.main_map {
    width: 100%;
}

.main_col-2 p a {
    color: #cce5ff;
}

.about_button {
    background: inherit;
    color: #cce5ff;
    border: 2px solid #cce5ff;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.about_button:hover {
    background: #cce5ff;
    color: #0a0f25;
}


.about_p {
    margin-bottom: 20px;
}